{% extends "votingContract/base.html" %}

{% block maincontent %}
<!-- Register Account -->
<form id="register-account-form">
    {% csrf_token %}
    <label for="candidate_name1">candidate name 1:</label><br>
    <input type="text" id="candidate_name1" name="candidate_name1"><br>

    <label for="candidate_name2">candidate name 2:</label><br>
    <input type="text" id="candidate_name2" name="candidate_name2"><br>

    <label for="candidate_name3">candidate name 3:</label><br>
    <input type="text" id="candidate_name3" name="candidate_name3"><br>


    <button type="submit" class="btn btn-primary">Add</button>
</form>

<script>

    $("#register-account-form").submit(function (e) {
 
        e.preventDefault();

        var serializedData = $(this).serialize();

        $.ajax({
            type: 'POST',
            url: "{% url 'votingContract:addCandidates' %}",
            data: serializedData,
            success: function (response) {
                console.log(response)
                window.location.href = "{% url 'votingContract:dashboard' %}"
            },
            error: function (response) {
                // log error if any
                $("#feedback").append(`ERROR!: ${response["responseJSON"]["error"]}<br>`);
            }
        });
    });
</script>
{% endblock maincontent %}