{% extends "votingContract/base.html" %}

{% block maincontent %}
<!-- Register Account -->

<div id="card-add">
    <div id="card-content">
      <div id="card-title">
        <h2>Add Candidates</h2>
        <div class="underline-title"></div>
      </div>
      <form id="register-account-form">
        {% csrf_token %}
        <label id="username" for="candidate_name1">Candidate Name 1:</label>
        <input class="form-content" type="text" id="candidate_name1" name="candidate_name1"><br>
        <div class="form-border"></div>
        <br>
        <label id="username" for="candidate_name2">Candidate Name 2:</label>
        <input class="form-content" type="text" id="candidate_name2" name="candidate_name2"><br>
        <div class="form-border"></div>
        <br>
        <label id="username" for="candidate_name3">Candidate Name 3:</label>
        <input class="form-content" type="text" id="candidate_name3" name="candidate_name3"><br>
        <div class="form-border"></div>
    
        <div style="text-align: center;">
            <button id="submit-btn" type="submit">Submit</button>
        </div>
    </form>
    </div>
  </div>


<script>

    $("#register-account-form").submit(function (e) {
 
        e.preventDefault();

        var serializedData = $(this).serialize();

        $.ajax({
            type: 'POST',
            url: "{% url 'votingContract:addCandidates' %}",
            data: serializedData,
            success: function (response) {
                console.log(response)
                window.location.href = "{% url 'votingContract:dashboard' %}"
            },
            error: function (response) {
                // log error if any
                $("#feedback").append(`ERROR!: ${response["responseJSON"]["error"]}<br>`);
            }
        });
    });
</script>
{% endblock maincontent %}