{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set Default Account</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
</head>
<body>


<!-- Register Account -->
<div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
      </div>
      <form id="register-account-form">
        {% csrf_token %}
        <label id="username" for="public_key">Username:</label><br>
        <input class="form-content" type="text" id="public_key" name="public_key"><br>
        <div class="form-border"></div>
        <br>
        <label id="password" for="private_key">Password:</label><br>
        <input class="form-content" type="password" id="private_key" name="private_key"><br>
        <div class="form-border"></div>
        <div style="text-align: center;">
            <button id="submit-btn" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>

<script>
    $("#register-account-form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'votingContract:login' %}",
            data: serializedData,
            success: function (response) {
                console.log(response)
                window.location.href = "{% url 'votingContract:dashboard' %}"
            },
            error: function (response) {
                // log error if any
                $("#feedback").append(`ERROR!: ${response["responseJSON"]["error"]}<br>`);
            }
        });
    });
</script>

</body>
</html>