<!-- home.html -->
{% extends "votingContract/base.html" %}

{% block title %}Homepage{% endblock %}

{% block maincontent %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vote Results</h3>
                
            </div>
            
            Thank you for voting, come in a couple of years

            <h4>This are the result</h4>
            
            <ul class="list-group">
                {% for name,votes in candidates%}
                <li class="list-group-item">{{ name}} &mdash; <strong>{{ votes }}</strong></li>
                {% endfor %}
            </ul>
         
        </div>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title"><a href="{% url 'voting:login' %}">Logout</a></h3>
        
    </div>
</div>
{% endblock %}