@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif; 
  box-sizing:border-box;
 
}
body {
    background-color:#495464;

}

.main, .main1 {
    background-color: #F2EFEA; 
    width: 400px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.main1{
    height: 400px;
}
.sign,.sign1 {
    padding-top: 30px;
    color: black;
    font-weight: bold;
    font-size: 23px;
    text-align: center;  
}
.sign1{
    padding-top: 50px;
}
.un , .pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 5px 20px;
    border: 2px solid rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    outline: none;
    text-align: center;
    /* margin-bottom: 27px; */
    margin: 0 0 10px 46px;
}

form.form1 {
    padding-top: 15px;

}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #495464;
    border: 0;
    padding: 10px 40px;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    padding-top: 15px;
    text-align: center;
}

.createA{
    color: black;
    text-decoration: underline;
}
a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #383838;
    text-decoration: none;
    font-size: 15px;
}

.Lform{
    margin-left: 12%;
}
.errorlist, .loginEr, .authMsgError{
    margin: 2% 0 0 12%;
}
.formError, .loginEr,.authMsgError{
    padding-bottom: 5px;
    font-size: 12px;
    color: rgb(228, 106, 106);
    font-weight: bold;
    font-style: italic;
}
.authMsgError{
    color: #495464;
}
 a .cta{
    color:black;
}