/* style.css */

body{
    font-size: 16px;
}

.navbar-default, .btn, .form-control, .panel {
    border-radius: 0;
}
.navbar-default {
    background-color: rgb(34, 40, 49);
    border-color: rgb(57, 62, 70);
    box-shadow: 0px 3px 3px 0px #ddd;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(245, 245, 220, .9);
    border-bottom: 4px solid #ddd;
}
.panel-default > .panel-heading {
    color: white;
    background-color: rgb(34, 40, 49);
    border-color: rgb(57, 62, 70);
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
}
.panel-footer {
    background-color: EEEEEE;
    border-color: EEEEEE;
}
.panel {
    box-shadow: 0px 3px 3px 0px #ddd;
}
a.navbar-brand, .panel-title {
    font-weight: bolder;
}

.panel-title{
    font-size: 20px;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 3px 10px;
}

.list-group-item {
    padding: 15px 10px;
}

.panel-heading {
    padding: 15px 10px;
    text-align: center;
}

.btn-info {
    background-color:rgb(0, 173, 181);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a
{
    color: white;
}

.navbar-default .navbar-nav>.active>a:hover{
    color: red;
}

/* card */
a {
    text-decoration: none;
  }
  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
  }
  #forgot-pass {
    color: rgb(34, 40, 49);
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
  }
  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #card-add {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 520px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #card-register {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 610px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color: rgb(34, 40, 49);
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }
  #submit-btn {
    background: rgb(34, 40, 49);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px rgb(57, 62, 70);
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px rgb(57, 62, 70);
  }
  #username {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
  }
  #password {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: rgb(57, 62, 70);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: rgb(57, 62, 70);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
  }
  
/* officer/dashboard */
  #nav-right a {
    float: right;
  }

  #msg {
      font-family: Brush Script MT, Brush Script Std, cursive;
      text-align: center;
      padding: 3%;
      font-weight: bold;
      font-size: 24px;
  }